* {
  margin-bottom: 10px;
}

.dialog-content {
  width: 300px;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 32px;
  gap: 16px;
}

.form-field{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

h3{
  text-align: center;
}


.mat-form-field{
  font-size: 16px;
  flex-grow: 1;
}

.mat-dialog-actions{
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

.mat-dialog-actions button{
  padding: 12px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 6px;
}

.mat-dialog-actions button:first-child{
  background-color: rgb(59, 210, 59);
}

.mat-dialog-actions button:last-child{
  background-color: rgb(217, 87, 87);
}

mat-option {
  background-color: #833333;
  color: #333;
}


/* 2 - Otpis --------------------------------------------------- */
.otpis-container {
  background-color: #f9f9f9;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.otpis-container h3 {
  font-size: 24px;
  color: #575757;
  margin-bottom: 20px;
}

.mat-form-field input, .mat-select {
  font-size: 16px;
}

.warning-message {
  color: red;
  font-size: 13px;
  margin-top: 8px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.mat-dialog-actions button {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 6px;
  width: 48%;
}

.action-button {
  background-color: rgb(59, 210, 59);
}

.cancel-button {
  background-color: rgb(217, 87, 87);
}

.mat-dialog-actions button:hover {
  opacity: 0.9;
}

.mat-datepicker-toggle.mat-icon-button {
  padding: 10px;
}

.mat-icon {
  color: #555;
}

.button:disabled {
  background-color: #ccc;  
  color: #666;             
  cursor: not-allowed;  
}