<div class="skladiste-container" *ngIf="authService.isUser()">
  <div class="table">

    <div class="filter-container">
      <div class="action-buttons">
        <button mat-raised-button color="warn" class="ulaz-button" (click)="openDialog(1)">ULAZ ROBE</button>
        <button mat-raised-button class="otpis-button" (click)="openDialog(2)">OTPIS ROBE</button>
      </div>

    <div class="filter-container">
      <mat-form-field appearance="outline" class="search-bar" subscriptSizing="dynamic">
        <mat-label>Pretraži artikle</mat-label>
        <input
          matInput
          type="text"
          placeholder="Unesi naziv ili šifru..."
          name="filter"
          (keyup)="applyFilter($event)"
        />
        <button mat-icon-button matSuffix disabled>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="ukupna-vrijednost-container">
      <span class="label">Ukupna vrijednost skladišta: </span>
      <span class="value"> {{ ukupnaVrijednost | number:'1.2-2' }} KM</span>
    </div>

  <mat-toolbar>
    <span class="title-center"> Lista artikala </span>
    <button mat-raised-button class="pdf-button" color="primary" (click)="exportToPDF()">PREUZMI PDF</button>
  </mat-toolbar>

  <div class="container mat-elavation-z8">
    </div>

    <mat-table matSort [dataSource]="dataSource" class="mat-cell" matSortActive="sifra" matSortDirection="asc">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> RB </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index"> {{(paginator.pageIndex * paginator.pageSize) + i + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sifra">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Šifra </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.sifra}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="naziv">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Naziv </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.naziv}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cijenaPoJm">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Cijena po jedinici mjere </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.cijena  | number:'1.2-2' }} KM </mat-cell>
      </ng-container>

      <ng-container matColumnDef="stanje">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Stanje </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.stanje}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jedinica">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Jedinica mjere </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.jedinica }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cijena">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Ukupna vrijednost </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.cijena * row.stanje | number:'1.2-2' }} KM </mat-cell>
      </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        <button mat-icon-button (click)="openDialog(3, row.id, row.sifra, row.naziv, row.jedinica, roundToTwo(row.stanje), roundToTwo(row.cijena))">
          <mat-icon>edit</mat-icon>
        </button>
        <span *ngIf="row.stanje == 0" [matTooltip]="row.imaAktivnihStavki ? 'Artikl postoji u radnom nalogu koji nije završen. Tek kada završite nalog, možete obrisati ovaj artikl.' : ''">
          <button
            mat-icon-button
            color="warn"
            class="action-button"
            (click)="openDialog(4, row.id, row.sifra, row.naziv, row.jedinica, row.stanje)"
            [disabled]="row.imaAktivnihStavki">
            <mat-icon class="delete-icon">delete</mat-icon>
          </button>
        </span>
      </mat-cell>
    </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
      <mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>

  </div>

  <div class="paginator-container">
    <mat-paginator  [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]">
    </mat-paginator>
  </div>
</div>


<div *ngIf="!authService.isUser()" class="overlay">
  <div class="modal">
    <h2>Access Denied</h2>
    <p>You do not have permission to access this data.</p>
  </div>
</div>

