<!-- 1 - Ulaz -->
<div class="container" *ngIf="flag == 1">
  <h3 mat-dialog-title>Ulaz artikla</h3>

  <form *ngIf="!selectedValue" class="radio-form">
    <div class="radio-option">
      <button type="button"  class="select-btn"   [class.selected]="selectedValue === 'option1'" (click)="selectedValue = 'option1'">
        Postojeći artikl
      </button>
    </div>
    <div class="radio-option">
      <button type="button"  class="select-btn"  [class.selected]="selectedValue === 'option2'" (click)="selectedValue = 'option2'">
        Novi artikl u skladištu
      </button>
    </div>
  </form>

  <!-- postojeći -->
  <div *ngIf="selectedValue === 'option1'">

    <form class="dialog-content" #formControl="ngForm">

      <div class="form">
        <mat-form-field class="form-field">
          <input matInput [matDatepicker]="datum" placeholder="Datum kreiranja" name="Datum" [(ngModel)]="dataTransakcija.datum" required />
          <mat-datepicker-toggle matSuffix [for]="datum"></mat-datepicker-toggle>
          <mat-datepicker #datum></mat-datepicker>
        </mat-form-field>
      </div>


      <div class="form">
        <mat-select [compareWith]="compare" placeholder="Odaberite artikl" name="artikl" [(ngModel)]="dataTransakcija.artikl" required >
          <mat-option *ngFor="let artikl of artikli" [value]="artikl" required>
            {{ artikl.sifra + " - " + artikl.naziv }}
          </mat-option>
        </mat-select>
      </div>

      <div *ngIf="dataTransakcija.artikl.stanje >= 0" style="color: rgb(180, 180, 180); font-size: 13px;">
        Trenutna količina ovog artikla u skladištu je: {{ dataTransakcija.artikl.stanje }}.
      </div>

      <div class="form">
        <mat-form-field class="form-field">
          <input matInput type="number" min="0.000001" placeholder="Količina ulaza" name="kolicina" [(ngModel)]="dataTransakcija.kolicina" required />
          <mat-icon matSuffix>{{ dataTransakcija.artikl.jedinica }}</mat-icon>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field class="form-field">
          <input matInput placeholder="Dodatna napomena" name="razlog" [(ngModel)]="dataTransakcija.opis"/>
        </mat-form-field>
      </div>

    </form>

    <div class="mat-dialog-actions">
      <button matButton type="submit" mat-dialog-close="1" [disabled]="!formControl.valid || !dataTransakcija.artikl.naziv" (click)="ulazPostojece()" class="action-button">Dodavanje</button>
      <button matButton (click)="cancel()" class="cancel-button">Odustani</button>
    </div>

  </div>

  <!-- novi -->
  <div *ngIf="selectedValue === 'option2'">

    <form class="dialog-content" #formControl="ngForm">
      <div class="form">
        <mat-form-field class="form-field">
          <input matInput [matDatepicker]="datum" placeholder="Datum kreiranja" name="Datum" [(ngModel)]="dataTransakcija.datum" required />
          <mat-datepicker-toggle matSuffix [for]="datum"></mat-datepicker-toggle>
          <mat-datepicker #datum></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="artiklPostoji(data.sifra)" style="color: red; font-size: 13px;">
        Artikl sa ovom šifrom postoji u bazi!
      </div>
      <div mat-dialog-content (keydown.enter)="onSubmit()">
        <div class="form">
          <mat-form-field class="form-field">
            <input matInput placeholder="Šifra" name="Šifra" [(ngModel)]="data.sifra" required/>
          </mat-form-field>
        </div>
      </div>

      <div mat-dialog-content (keydown.enter)="onSubmit()">
        <div class="form">
          <mat-form-field class="form-field">
            <input matInput placeholder="Naziv artikla" name="Naziv" [(ngModel)]="data.naziv" required/>
          </mat-form-field>
        </div>
      </div>

      <div mat-dialog-content (keydown.enter)="onSubmit()">
        <div class="form">
          <mat-form-field class="form-field">
            <input matInput placeholder="Jedinica mjere" name="Jedinica mjere" [(ngModel)]="data.jedinica" required/>
          </mat-form-field>
        </div>
      </div>

      <div mat-dialog-content (keydown.enter)="onSubmit()">
        <div class="form">
          <mat-form-field class="form-field">
            <input matInput type="number" min="0.000001" placeholder="Količina" name="Količina" [(ngModel)]="data.stanje" required/>
          </mat-form-field>
        </div>
      </div>

      <div class="form">
        <mat-form-field class="form-field">
          <input matInput placeholder="Dodatna napomena" name="razlog" [(ngModel)]="dataTransakcija.opis"/>
        </mat-form-field>
      </div>

    </form>

    <div class="mat-dialog-actions">
        <button matButton *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid || artiklPostoji(data.sifra)" (click)="ulazNovo()" >Dodavanje</button>
        <button matButton (click)="cancel()">Odustani</button>
    </div>
  </div>

</div>



<!-- 2 - Otpis -->
<div class="container otpis-container" *ngIf="flag == 2">
  <h3 mat-dialog-title *ngIf="flag == 2">Otpis artikla</h3>

  <form class="dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field class="form-field">
        <input matInput [matDatepicker]="datum" placeholder="Datum kreiranja" name="Datum" [(ngModel)]="dataTransakcija.datum" [disabled]="stanjeNedostupno()" required />
        <mat-datepicker-toggle matSuffix [for]="datum"></mat-datepicker-toggle>
        <mat-datepicker #datum></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-select [compareWith]="compare" placeholder="Odaberite artikl" name="artikl" [(ngModel)]="dataTransakcija.artikl" required >
        <mat-option *ngFor="let artikl of artikli" [value]="artikl">
          {{ artikl.sifra + " - " + artikl.naziv }}
        </mat-option>
      </mat-select>
    </div>

    <div class="form" *ngIf="stanjeNedostupno()" style="color: red; font-size: 13px;">
      Artikla trenutno nema na stanju. Otpis nije moguć!
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Razlog otpisa" name="razlog" [(ngModel)]="dataTransakcija.opis" [disabled]="stanjeNedostupno()" required/>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput type="number" min="0.000001" [max]="dataTransakcija.artikl.stanje" placeholder="Količina otpisa" name="kolicina" [disabled]="stanjeNedostupno()" [(ngModel)]="dataTransakcija.kolicina" required />
        <mat-icon matSuffix>{{ dataTransakcija.artikl.jedinica }}</mat-icon>
      </mat-form-field>
    </div>

    <div *ngIf="prekobrojnaKolicina()" style="color: red; font-size: 13px;">
      Trenutna količina ovog artikla u skladištu je: {{ dataTransakcija.artikl.stanje }}.
    </div>
  </form>

  <div class="mat-dialog-actions">
    <button matButton type="submit" mat-dialog-close="1" [disabled]="!formControl.valid || stanjeNedostupno() || prekobrojnaKolicina() || !dataTransakcija.artikl.naziv" (click)="otpis()" class="action-button">Otpis</button>
    <button matButton (click)="cancel()" class="cancel-button">Odustani</button>
  </div>
</div>



<!-- 3 i 4 - Izmjena i brisanje -->
<div class="container" *ngIf="flag == 3 || flag == 4">
  <h3 mat-dialog-title *ngIf="flag == 3">Izmjena podataka o artiklu</h3>
  <div *ngIf="flag==3" style="color: red; font-size: 13px;">
    Izmjene artikla se vrši samo u slučaju greške osnovnih podataka! Ulaz, izlaz i otpis su odvojene aktivnosti i ne evidentiraju se na ovaj način!
  </div>
  <h3 mat-dialog-title *ngIf="flag == 4">Brisanje artikla</h3>

  <form class="dialog-content" #formControl="ngForm">
    <div mat-dialog-content (keydown.enter)="onSubmit()">
      <div class="form">
        <mat-form-field class="form-field">
          <input matInput placeholder="Šifra" name="Šifra" [disabled]="flag == 4" [(ngModel)]="data.sifra" required/>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field class="form-field">
          <input matInput placeholder="Naziv artikla" name="Naziv" [disabled]="flag == 4" [(ngModel)]="data.naziv" required/>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field class="form-field">
          <input matInput placeholder="Jedinica mjere" name="Jedinica mjere" [disabled]="flag == 4" [(ngModel)]="data.jedinica" required/>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field class="form-field">
          <input matInput placeholder="Stanje" name="Stanje" [disabled]="true" [(ngModel)]="data.stanje" required/>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="flag==3" style="color: red; font-size: 13px;">
      Nije dozvoljeno mijenjati podatke o stanju artikla u skladištu na ovaj način!
    </div>
  </form>

  <div class="mat-dialog-actions">
      <button matButton *ngIf="flag == 3" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="izmjena()">Izmjena</button>
      <button matButton *ngIf="flag == 4" mat-dialog-close="1" (click)="brisanje()">Brisanje</button>
      <button matButton (click)="cancel()">Odustani</button>
  </div>
</div>
