<div class="transakcije-container" *ngIf="authService.isUser()">
  <div class="table">

    <div class="filter-container">
      <mat-form-field appearance="fill" class="filter-item">
        <mat-label>Mjesec</mat-label>
        <mat-select [(value)]="selectedMonth" (selectionChange)="applyDateFilter()">
          <mat-option [value]="0">-</mat-option>
          <mat-option *ngFor="let month of months" [value]="month.value">
            {{ month.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="filter-item">
        <mat-label>Godina</mat-label>
        <mat-select [(value)]="selectedYear" (selectionChange)="applyDateFilter()">
          <mat-option [value]="0">-</mat-option>
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="ukupna-vrijednost-wrapper">
      <div class="ukupna-vrijednost-container">
        <span class="label">Ukupan ulaz: </span>
        <span class="value"> {{ ukupanUlaz | number:'1.2-2' }} KM</span>
      </div>

      <div class="ukupna-vrijednost-container">
        <span class="label">Ukupan izlaz: </span>
        <span class="value"> {{ ukupanIzlaz | number:'1.2-2' }} KM</span>
      </div>
    </div>


  <mat-toolbar>
    <span class="title-center"> Evidencija transakcija u skladištu </span>
    <button mat-raised-button class="pdf-button" color="primary" (click)="exportToPDF()">PREUZMI PDF</button>
  </mat-toolbar>

  <div class="container mat-elavation-z8">
    </div>

    <mat-table matSort [dataSource]="dataSource" class="mat-cell" matSortActive="datum" matSortDirection="desc">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> RB </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index"> {{(paginator.pageIndex * paginator.pageSize) + i + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="datum">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Datum </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.datum | date:'dd.MM.yyyy' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="opis">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Opis </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.opis }} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="artikl">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Artikl </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.artikl}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="kolicina">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Količina </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.kolicina + " " + row.jedinica }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="novoStanje">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Novo stanje </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.novoStanje + " " + row.jedinica}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ulaz">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Ulaz </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ulaz | number:'1.2-2' }} KM </mat-cell>
    </ng-container>

    <ng-container matColumnDef="izlaz">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Izlaz </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.izlaz | number:'1.2-2' }} KM </mat-cell>
    </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <span [matTooltip]="dataSource ? 'UPOZORENJE! Brisanje transakcije vrši se samo u slučaju greške!' : ''">
            <button
              mat-raised-button
              color="warn"
              class="action-button"
              (click)="openDialog(3, row.id, row.datum, row.opis, row.artikl, row.kolicina, row.novoStanje)">
              <mat-icon> delete </mat-icon>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
      <mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>

  </div>

  <div class="paginator-container">
    <mat-paginator  [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]">
    </mat-paginator>
  </div>

</div>

<div *ngIf="!authService.isUser()" class="overlay">
  <div class="modal">
    <h2>Access Denied</h2>
    <p>You do not have permission to access this data.</p>
  </div>
</div>
